
#top_header{
  margin-top: 20px;
  margin-left: 15%;
  margin-right: 15%;
  text-align: center;


}

.ui.three.cards{
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 40px;
  border-radius: 5px;
  padding: 40px;
}

#title_product{
  padding: 7px;
  text-align: center;
}

.ui.three.cards, #cardo, #top_header{
  box-shadow: 0px 0px 15px rgb(104, 106, 101);
  background-color: rgb(251, 251, 251);
}
body{
  background-color: rgb(20, 102, 154);
}
#description{
  text-align: left;

}
#message{
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 20px;
  display: none;
}
#input_a{
  margin-top: 30px;
  margin-left: 39%;
}

#stock{
  padding: 5px;
  text-align: left;
}
#frm{
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 40px;
}

#watermark{
  position: fixed;
    top: 80%;
    width: 200px;
    opacity: .9;
    margin-left: 10px;

}
#drag_canv{
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 40px;
  background-color: white;
  box-shadow: 0px 0px 10px grey;
}
#dimg{
  width: 200px;
}
#dragaint{
  width: 200px;
  height: 200px;
  margin-left:38%;
  margin-right: 45%;
  margin-bottom: 40px;
  background-color: black;
  box-shadow: 0px 0px 10px grey;
}

strong{
  color: rgb(69, 193, 68);
}
